<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
        <h1 class="page-title">Edit Memo</h1>
    </div>
    <div class="form-content">
        <form class="form" action="/memo/<%=data.id%>?_method=PUT" method="POST">
            <label class="date" for="date">Date:</label>
            <input class="date" type="text" name="date" id="date" value="<%=data.date%>"/>
            <label class="title" for="title">Title:</label>
            <input class="title" type="text" name="title" id="title" value="<%=data.title%>"/>
            <label for="text">Memo:</label>
            <textarea id="text" name="text" rows="10" cols="0"><%=data.text%></textarea>
            <input class="submit-button" type="submit" value="Save">
        </form>
    </div>
</body>
</html>