<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
        <h1 class="page-title">Edit Memo</h1>
    <form action="/memo/<%=data.id%>?_method=PUT" method="POST">
        <label for="date">Date:</label>
        <input type="text" name="date" id="date" value="<%=data.date%>"/><br/>
        <label for="name">Title:</label>
        <input type="text" name="title" id="name" value="<%=data.title%>"/><br/>
        <label for="text">Content:</label>
        <textarea id="text" name="text" rows="10" cols="0"><%=data.text%></textarea>
        <input class="button-primary" type="submit" value="Save">
    </form>
</body>
</html>