<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
        <h1 class="page-title">Home</h1>
    </div>
    <div class="content">
        <% for (let i=0; i<data.length; i++){ %>
            <div class="modal">
                <div id="modal-content">
                    <h2>Are you sure you want to delete this memo?</h2>
                    <div id="modal-button">
                        <form action="/memo/<%=data[i].id%>?_method=DELETE" method="POST">
                            <button class="submit" type="submit">Yes</button>
                        </form>
                        <button class="close-button">No</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <span class="trigger"><i class='index-icon bx bx-trash'></i></span>
                    <a class="button" href="/memo/<%=data[i].id%>/edit"><i class='index-icon bx bx-edit-alt' ></i></a>
                </div>
                <div class="box-content">
                    <span id="box-date"><%=data[i].date%></span>
                    <a id="box-title" href="/memo/<%=data[i].id%>"><%=data[i].title%></a>
                </div>
            </div>
        <%}%>
        <div id="add">
            <a href="/memo/new"><i class='bx bx-plus' ></i></a>
        </div>
    </div>
</body>
</html>

