<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
        <h1 class="page-title"><%=data.date%></h1>
    <div>
        <h1><%=data.title%></h1>
        <p><%=data.text%></p>
    </div>
</body>
</html>